@page "/company"
@using RaythaZero.Application.Common.Utils
@using RaythaZero.Web.Areas.Public.Pages.Shared._Partials
@model RaythaZero.Web.Areas.Public.Pages.Company.Index

@{
    Layout = "Shared/SidebarLayout";
    var pageTitle = "Manage company info";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Company";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
            @Html.Partial("_Partials/PageHeading", ViewData["Title"])
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <form asp-page="/Company/Index" method="post" class="py-4" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="Form.LegalName"></label>
                                    <input type="text" class="form-control @Model.HasError("LegalName")" asp-for="Form.LegalName" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("LegalName")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="Form.Url"></label>
                                    <input type="text" class="form-control @Model.HasError("Url")" asp-for="Form.Url" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("Url")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="Form.CityHq"></label>
                                    <input type="text" class="form-control @Model.HasError("CityHq")" asp-for="Form.CityHq" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("CityHq")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="Form.StateHq"></label>
                                    <select class="form-control @Model.HasError("StateHq")" asp-for="Form.StateHq" required>
                                        <option value="">-- SELECT --</option>
                                        @foreach (var state in Constants.GetStatesAndTerritories())
                                        {
                                            <option value="@state">@state</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("StateHq")</div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input @Model.HasError("OffersBenefits")" asp-for="Form.OffersBenefits" id="offersBenefitsCheckbox" onclick="toggleBenefitsDescription()">
                                    <label class="form-check-label" asp-for="Form.OffersBenefits"></label>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("OffersBenefits")</div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="benefitsDescriptionField" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Form.OffersBenefitsDescription"></label>
                                    <textarea class="form-control @Model.HasError("OffersBenefitsDescription")" asp-for="Form.OffersBenefitsDescription"></textarea>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("OffersBenefitsDescription")</div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="wage_rates_upload_container">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Form.WageRateSheetMediaId"></label>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("WageRateSheetMediaId")</div>
                                    <div class="card-list">
                                        @Html.Partial("_Partials/WageRatesUpload")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="previous_cost_volume_upload_container">
                                <div class="mb-3">
                                    <label class="form-label">Previous cost volumes</label>
                                    <div class="card-list">
                                        @Html.Partial("_Partials/PreviousCostVolumeUploadExcel")
                                        <p></p>
                                        @Html.Partial("_Partials/PreviousCostVolumeUploadWord")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="financial_statements_upload_container">
                                <div class="mb-3">
                                    <label class="form-label">Financial statements</label>
                                    <div class="card-list">
                                        @Html.Partial("_Partials/BalanceSheetUpload")
                                        <p></p>
                                        @Html.Partial("_Partials/ProfitAndLossUpload")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-success mt-4">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleBenefitsDescription() {
        var checkbox = document.getElementById("offersBenefitsCheckbox");
        var benefitsDescriptionField = document.getElementById("benefitsDescriptionField");
        benefitsDescriptionField.style.display = checkbox.checked ? "block" : "none";
    }

    // Initialize visibility on page load
    toggleBenefitsDescription();
</script>