@inject IAuthorizationService AuthorizationService
@inject ICurrentOrganization CurrentOrganization
@inject ICurrentUser CurrentUser
@using RaythaZero.Domain.Entities
@{
    Layout = "_Layout";
}
@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveMenu"] == menuItem)
        {
            return "active";
        }
        return string.Empty;
    }

    public string ExpandSubMenu(string menuItem)
    {
        return ViewData.ContainsKey(menuItem) ? "show" : string.Empty;
    }

    public string SubMenuIsExpanded(string menuItem)
    {
        return ViewData.ContainsKey(menuItem) ? "true" : "false";
    }
}

@Html.Partial("_Partials/Header")
<nav id="sidebarMenu" class="sidebar d-lg-block bg-raytha-blue text-white collapse">
    <div class="sidebar-inner px-4 pt-3">
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item @(IsActivePage("Projects"))">
                <a asp-page="/Projects/Index" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                  </span>
                    <span class="sidebar-text">Projects</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="pb-3 content">
    @Html.Partial("_Partials/FlashMessage")
    @RenderBody()
    @Html.Partial("_Partials/Footer")
</main>

