@inject IAuthorizationService AuthorizationService
@inject ICurrentOrganization CurrentOrganization
@inject ICurrentUser CurrentUser
@using RaythaZero.Domain.Entities
@{
    Layout = "_Layout";
}
@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveMenu"] == menuItem)
        {
            return "active";
        }
        return string.Empty;
    }

    public string ExpandSubMenu(string menuItem)
    {
        return ViewData.ContainsKey(menuItem) ? "show" : string.Empty;
    }

    public string SubMenuIsExpanded(string menuItem)
    {
        return ViewData.ContainsKey(menuItem) ? "true" : "false";
    }
}

<div class="layout layout-nav-side">
    <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" asp-page="/Projects/Index">
            @CurrentOrganization.OrganizationName
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-lg-none ml-2">
                <div class="dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @CurrentUser.FullName
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a asp-page="/Profile/Index" class="dropdown-item">Profile</a>
                        @if (CurrentOrganization.EmailAndPasswordIsEnabledForUsers)
                        {
                            <a asp-page="/Profile/ChangePassword" class="dropdown-item">Change Password</a>
                        }
                        <a asp-page="/Login/Logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
            <ul class="navbar-nav d-lg-block">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Projects/Index">Projects</a>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block">
            <div class="dropup">
                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @CurrentUser.FullName
                </a>
                <div class="dropdown-menu">
                    <a asp-page="/Profile/Index" class="dropdown-item">Profile</a>
                    @if (CurrentOrganization.EmailAndPasswordIsEnabledForUsers)
                    {
                        <a asp-page="/Profile/ChangePassword" class="dropdown-item">Change Password</a>
                    }
                    <a asp-page="/Login/Logout" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        @Html.Partial("_Partials/Header")
        @Html.Partial("_Partials/FlashMessage")
        @RenderBody()
    </div> 
</div>
