@page "/login/magic-link"
@model RaythaZero.Web.Areas.Public.Pages.Login.LoginWithMagicLink

@{
    Layout = "EmptyLayout";
}

<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <h1 class="h2">Welcome Back &#x1f44b;</h1>
                    <p class="lead">Log in to your account to continue</p>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2">
                            @ViewData["ErrorMessage"]
                        </div>
                    }

                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-2">
                            @ViewData["SuccessMessage"]
                        </div>
                    }
                    <form method="post" asp-page="/Login/LoginWithMagicLink" asp-route-returnUrl="@(ViewData["returnUrl"])" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email Address" asp-for="Form.EmailAddress" />
                        </div>
                        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                           Sign in 
                        </button>
                    </form>
                    @if (Model.ShowOrLoginWithSection)
                    {
                        <div class="mt-3 mb-4 text-center">
                            <span class="fw-normal">or login with</span>
                        </div>
                        <div class="d-grid gap-2">
                            @if (Model.HasLoginByEmailAndPassword)
                            {
                                <a asp-page="/Login/LoginWithEmailAndPassword" asp-route-returnUrl='@ViewData["returnUrl"]' class="btn btn-outline-gray-500">
                                    @Model.EmailAndPassword.LoginButtonText
                                </a>
                            }
                            @if (Model.HasLoginBySingleSignOn)
                            {
                                @foreach (var sso in Model.SingleSignOns)
                                {
                                    <a asp-page="/Login/LoginWithSso" asp-route-developerName="@sso.DeveloperName" asp-route-returnUrl='@ViewData["returnUrl"]' class="btn btn-outline-gray-500">
                                        @sso.LoginButtonText
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>