@page "/projects/manage/{id}"
@using RaythaZero.Web.Areas.Public.Pages.Projects._Partials
@using RaythaZero.Web.Areas.Public.Pages.Shared._Partials
@model RaythaZero.Web.Areas.Public.Pages.Projects.Manage

@{
  Layout = "SidebarLayout";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-xl-10">
      <div class="page-header">
        <h1>Project name</h1>
      </div>
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#docs" role="tab" aria-controls="docs"
             aria-selected="true">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#company" role="tab" aria-controls="company"
             aria-selected="false">Company Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="false">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#subcontractors" role="tab" aria-controls="subcontractors"
             aria-selected="false">Subcontractors</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="docs" role="tabpanel" data-filter-list="card-list-body">
          <!--end of content list head-->
          <div class="content-list-body">
            <div class="card-list">
              <div class="card-list-head">
                <h6>Resumes</h6>
              </div>
              <div class="card-list-body">
                @Html.Partial("_Partials/FileUpload", new IndexViewModel
                {
                  MaxFiles = 20,
                })
                @Html.Partial("_Partials/Resumes", Model)
              </div>
            </div>
            <!--end of content list body-->
            <div class="card-list">
              <div class="card-list-head">
                <h6>Top Level DoD BAA</h6>
              </div>
              <div class="card-list-body">
                @Html.Partial("_Partials/FileUpload", new IndexViewModel
                {
                  MaxFiles = 20,
                })
                <turbo-frame id="docs_toplevel_frame">
                  <div class="card card-task">
                    <div class="card-body">
                      <div class="card-title">
                        <h6 data-filter-by="text">Doc name here</h6>
                      </div>
                      <div class="card-meta">
                        <div class="dropdown card-options">
                          <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-danger" href="#">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </turbo-frame>
              </div>
            </div>


            <div class="card-list">
              <div class="card-list-head">
                <h6>Service Specific DoD BAA</h6>
              </div>
              <div class="card-list-body">
                @Html.Partial("_Partials/FileUpload", new IndexViewModel
                {
                  MaxFiles = 20,
                })
                <turbo-frame id="docs_service_frame">
                  <div class="card card-task">
                    <div class="card-body">
                      <div class="card-title">
                        <h6 data-filter-by="text">Doc name here</h6>
                      </div>
                      <div class="card-meta">
                        <div class="dropdown card-options">
                          <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-danger" href="#">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </turbo-frame>
              </div>
            </div>


            <div class="card-list">
              <div class="card-list-head">
                <h6>Specific Topic BAA</h6>
              </div>
              <div class="card-list-body">
                @Html.Partial("_Partials/FileUpload", new IndexViewModel
                {
                  MaxFiles = 20,
                })
                <turbo-frame id="docs_topic_frame">
                  <div class="card card-task">
                    <div class="card-body">
                      <div class="card-title">
                        <h6 data-filter-by="text">Doc name here</h6>
                      </div>
                      <div class="card-meta">
                        <div class="dropdown card-options">
                          <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-danger" href="#">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </turbo-frame>
              </div>
            </div>

          </div>
          <!--end of content list-->
        </div>
        <!--end of tab-->
        <div class="tab-pane fade" id="company" role="tabpanel" data-filter-list="dropzone-previews">
          <div class="content-list">
            <div class="content-list-body">
              <turbo-frame id="company_frame">
                <p>Company info goes here</p>
              </turbo-frame>
            </div>
          </div>
          <!--end of content list-->
        </div>
        <div class="tab-pane fade" id="travel" role="tabpanel" data-filter-list="list-group-activity">
          <div class="content-list">
            <!--end of content list head-->
            <div class="content-list-body">
              <turbo-frame id="travel_frame">
                <p>Travel info goes here</p>
              </turbo-frame>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="subcontractors" role="tabpanel" data-filter-list="list-group-activity">
          <div class="content-list">
            <!--end of content list head-->
            <div class="content-list-body">
              <turbo-frame id="subcontractors_frame">
                <p>Subcontractors info goes here</p>
              </turbo-frame>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>